*{
    padding: 0;
    margin: 0;
    border: none;
}
.ALMbody{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.LoginContainer {
    width: 100%;
    height: 200px;
    background-color: #EAE5DF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login-wrapper{
    width: 400px;
    height: 350px;
    padding: 40px;
    box-sizing: border-box;
    justify-content: center;
}

#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
#login-form > input[type="submit"]{
    color: #fff;
    font-size: 16px;
    background-color: #635741;
    margin-top: 20px;
}

/*=================*/

.loginMents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: large;
    font-weight: bold;
    color: #635741;
    padding-bottom: 10px;
}

/*===================*/

.AdminMenu {
    width: 100%;
    background-color: #dcd3c8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;
}

.BT {
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 5px;
    border-radius: 6px;
    background-color: #F8F8F8;
}



