#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#txt_1 {
    margin-top: 5%;
    color: #1c1c1c;
    font-weight:lighter;

    font-size:x-small
}

#txt_2 {
    color: #3a2b23;
    font-weight: bold;

    font-size: xx-large;
}

#txt_3 {
    margin-top: 2%;
    color: #1c1c1c;
    font-weight:lighter;

    font-size:small;
}

#txt_4 {
    margin-top: 1%;
    margin-bottom: 3%;
    color: #1c1c1c;
    font-weight:lighter;

    font-size:small;
}

/*===============================*/
.brandUl {
    float: left;
}