#FmTitle {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#text1 {
    margin-bottom: 10px;

    color: #9c9890;
    font-weight:lighter;

    font-size: large;
}

#text2 {
    color: #635741;
    font-weight:bold;

    font-size: xx-large;
}

#FmTable {
    width: 70%;

    margin-left:auto; 
    margin-right:auto;
    margin-bottom: 50px;

    text-align: center;



    font-weight:lighter;
    font-size:small;

}

#FMsub {
    font-weight:lighter;
    font-size:small;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 50px;
}

