/*first============================================================================*/
/*==상단 좌측======================*/
.IndexMenuTitle{
    width: 50%;
    height: 400px;
    background-color: #EAE5DF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.TitleHead {
    margin-left: 80px;

    font-size:40px;
    font-weight: bolder;
    color:#232323;
}

.Titlebody {
    margin-left: 100px;
    white-space: nowrap;
    font-size: medium;
    font-weight:lighter;
    color:#232323;
}


/*==상단 우측===================*/
.IndexMenuSet {
    width: 50%;
    height: 400px;
    background-color: #EAE5DF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.menu_container {
    float: left;
    position: relative;
    margin-right: 15px;
}

.menu_container img {
    width: 170px;
    height: 190px;
    border: 1px solid #123123;
}

.name_ko {
    font-weight: lighter;
    font-size: small;
}

.name_en {
    font-weight: lighter;
    font-size: small;
}

.semi {
    font-weight: lighter;
    font-size: small;
}




/*second=========================================================================*/
/*==하단 좌측======================*/
.IndexEvents {
    width: 50%;
    height: 500px;
    background-color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.IndexEventImg {
    margin: 0 auto;

    width: 85%;
}
/*
.IndexEventText {
    margin: 0 auto;
    font-weight:lighter;
    font-size:medium;
    color:#232323;
}
*/
.IndexEvents button {
    margin: 10px auto;

    padding: 10px;
    background-color: #d6cdc1;
    
    cursor: pointer;
    border: 2px solid #d6cdc1;

    color: #000000;
    font-size: small;
}

/*==하단 우측 1======================*/
.IndexMenu1 {
    width: 50%;
    height: 330px;

    border-left: solid 2px #e8e4df;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.IndexNewsTitle {
    float: left;
    margin-top: 30px;
    padding-left: 50px;
    
    font-weight: bold;
    font-size:25px;
    color:#232323;
}
.IndexNewsText {
    float: left;

    padding-top: 10px;
    padding-top: 0;
    padding-left: 50px;

    font-weight:lighter;
    font-size:smaller;
    color:#232323;
}

.IndexMenu1 button {
    margin-left: 70%;
    margin-bottom: 10px;

    padding: 10px;
    background-color: #d6cdc1;
    
    cursor: pointer;
    border: 2px solid #d6cdc1;

    color: #000000;
    font-size: small;
}



/*==하단 우측 2======================*/
.IndexMenu2 {
    width: 50%;
    height: 170px;
    background-color: #d6cdc1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.IndexMenu2 button {
    margin-left: 73%;
    margin-bottom: 10px;

    padding: 10px;
    background-color: #ffffff;
    
    cursor: pointer;
    border: 2px solid #ffffff;

    color: #000000;
    font-size: small;
}

.IndexMapTitle {
    margin-top: 5%;
    padding-left: 50px;
    font-weight: bold;
    font-size:25px;
    color:#232323;
}
.IndexMapText {
    padding-top: 10px;

    padding-left: 60px;
    font-weight:lighter;
    font-size:15px;
    color:#232323;
}