
/* 캐러셀 전체 구조  */
.MainBenner {
    width: 700px; /* 이미지 크기 설정  */
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    user-select: none;
}

.container {
    display: flex;
    transition: transform 1s;
}

.inner {
    flex: 0 0 700px; 
    position: relative;
}

.inner img{
    display: block;
    width: 100%;
    height: auto; /* 자동으로 세로 비율을 유지합니다. */
    max-height: 100%; /* 이미지가 부모 요소보다 클 때만 늘림 */
}


/* 캐러셀 중앙 버튼 */
.Benner_Button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carousel_circle {
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel_circle.active {
    background-color: #333;
}


