.MainBenner {
    width: 100%;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.container {
    display: flex;
    padding: 0px;
    margin: 0px;
    transition: transform 1s;
}

.inner {
    flex: 0 0 100%;
}

.inner img {
    display: block;
    width: 99vw;
    height: 400px;
    object-fit: cover;
}

.Benner_Button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carousel_circle {
    width: 10px;
    height: 10px;
    background-color: #aaa;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel_circle.active {
    background-color: #333;
}