.FiBlock {
    margin: 5% 5% 5% 5%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fir {
    color: #635741;
    font-weight: bold;
    font-size: xx-large;
}

#sec {
    font-weight: lighter;
    font-size: large;
    margin-bottom: 2%;

}

#thi {
    color: #333333;
    font-weight: lighter;
    font-size: small;
}

/*===============================*/

#left {
    width: 50%;
    margin-left: 5%;

    margin-bottom: 5%;
    float: left;
}

#btIMG {
    width: 100%;
}

#right {
    float: left;
    width: 40%;

    margin-top: 1%;
    margin-left: 2%;

    display: flex;
    flex-direction: column;

}

#btFIR {
    color: #322c20;
    font-weight: bold;
    font-size: xx-large;
}

#btSEC {
    color: #635741;
    font-weight:lighter;
    font-size: large;
    margin-bottom: 2%;
}