/*이용약관*/
.FooterLine {
    width: 100%;
    height: 50px;
    background-color: #EAE5DF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.FooterLineTxt {
    margin: 30px;
    font-weight: bold;
    font-size: small;
}





/*==하단 좌측================================*/
.underLineLeft{
    width: 50%;
    height: 200px;
    background-color: #232323;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cafe {
    margin: 30px;
    text-decoration-line: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size:x-large;
}

.UnderIcon {
    text-decoration-line: none;
}

.enter {
    margin: 30px;
    color: #FFFFFF;
    font-weight: bold;
    font-size:small;
}

.enterTxt {
    margin: 30px;
    color: #cbcbcb;
    font-weight:lighter;
    font-size:x-small;
}

.AdminHome {
    color: #cbcbcb;
    text-decoration-line: none;
    font-weight:lighter;
    font-size:x-small;
}

/*==하단 우측================================*/

.underLineRight {
    width: 50%;
    height: 200px;
    background-color: #232323;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.MiniMenu{
    width: 80%;
    margin: auto;
}

.MiniHead {
    text-decoration-line: none;

    color: #FFFFFF;
    font-weight:normal;
    font-size:small;
}

.MiniSub {
    text-decoration-line: none;
    
    color: #cbcbcb;
    font-weight:lighter;
    font-size:x-small;
}

