.HeaderTable {
    margin: auto;
    width: max-content;
}

.main {
    font-weight: bolder;
    font-size:30px;
}

.sub, .main {
    padding: 33px;
    vertical-align: bottom;
}

.HeaderLink {
    font-weight:lighter;
    text-decoration-line: none;
    color: #000;
}

/*icon*/
.HeaderUlLi {
    list-style-type: none;
    float: left;
    margin-left: 10px;
}

.icon {
    padding: 30px;
}

