.board {
    text-align: center;
    padding: 50px;

    width: 100%;
    white-space: nowrap;
}

.search {
    text-align: right;
    padding: 30px;

    width: 100%;
    white-space: nowrap;

}

/* 게시판 내부 */
.num {
    width: 10px;
}

.name {
    width: 20px;
}

.day {
    width: 10px;
}

.writer {
    width: 10px;
}

.view {
    width: 100px;
}

/* */
@media screen and (max-width: 600px) {
    th, td {
        font-size: 12px;
    }
}