/*header*/
.TextBenner {
    width: 100%;
    height: 200px;
    background-color: #EAE5DF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fir {
    color: #635741;
    font-weight: bold;

    font-size: x-large;
}

.sec {
    color: #635741;
    font-size: xx-large;
    font-weight: bold;
}

.thi {
    font-size: xx-small;
}